{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block page_content %}
{% if username %}
<h1> Ya estas logueado como {{username}}, <a href="/desloguearse">desloguearse</a> </h1>
{% else %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.csrf_token }}
    {{ form.password.label }} {{ form.password(size=20) }}
    <input type="submit" value="Mandale">
</form>
<p>Si no tiene usuario, haz clic <a href="/register">aquí</a> para registrarse!</p>
{% endif %}
{% endblock %}


